{% extends "zipline_app/base.html" %}


{% block content %}
<h1>Assets</h1>

<a href="{% url 'zipline_app:assets-new' %}">New</a>

<ul>
    {% for asset in asset_list %}
    <li>
      {{ asset.id }},
      {{ asset.asset_symbol }},
      {{ asset.asset_name }},
      {{ asset.asset_exchange }},
      <a href="{% url 'zipline_app:assets-delete' asset.id %}">Delete</a>
    </li>
{% empty %}
    <li>No assets yet.</li>
{% endfor %}

{# {% include "zipline_app/asset/_asset_form_builtin.html" %} #}
{# {% include "zipline_app/asset/_asset_form_bootstrap_vanilla.html" %} #}
{% include "zipline_app/asset/_asset_form_bootstrap_django.html" %}

{% endblock %}
