{% extends "zipline_app/base.html" %}


{% block content %}
<h1>Assets</h1>

<a href="{% url 'zipline_app:assets-new' %}">New</a>

<ul>
    {% for asset in asset_list %}
    <li>
      {{ asset.id }},
      {{ asset.asset_symbol }},
      {{ asset.asset_name }},
      {{ asset.asset_exchange }},
      <a href="{% url 'zipline_app:assets-delete' asset.id %}">Delete</a>
    </li>
{% empty %}
    <li>No assets yet.</li>
{% endfor %}

{% include "zipline_app/asset/_asset_form.html" %}

<div id="MESSAGE-DIV"></div>

<script type="text/javascript">
    var frm = $('#FORM-ID');
    frm.each(function() { this.reset() });
    frm.submit(function () {
       $("#MESSAGE-DIV").html("Loading...");
       $("#FORM-ID :input").prop('disabled', true);
        $.ajax({
            type: frm.attr('method'),
            url: "{% url 'zipline_app:assets-new' %}", //frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                // $("#SOME-DIV").html(data);
                location.reload();
            },
            error: function(data) {
               $("#MESSAGE-DIV").html("Something went wrong: "+data.responseText);
               $("#FORM-ID :input").prop('disabled', false);
            }
        });
        return false;
    });
</script>

{% endblock %}
