{% load humanize %}
{% load bootstrap3 %}

{% for fill in duo.fills %}
<div class="row {% if fill.has_unused %}text-danger{% endif %}">
  <div class="col-xs-4 text-primary text-right">{{fill.fill_qty}}</div>
  <div class="col-xs-4 text-primary text-right">{{fill.fill_price}}</div>
  <div class="col-xs-4">
    <div class="row">

      <div class="col-xs-6">
        {% if fill.has_unused %}
        <abbr title="Asset has unmatched fills">
          <span class="glyphicon glyphicon-alert"></span>
        </abbr>
        {% endif %}
      </div>

      <div class="col-xs-6 text-right">
        <abbr title="Fill">
          <a href="{% url 'zipline_app:fills-detail' fill.id %}">
            #{{fill.id}}
          </a>
        </abbr>

      </div>

    </div>
  </div>
</div>
{%if fill.fill_text %}
<div class="row">
  <div class="col-xs-12 text-muted text-right">{{ fill.fill_text }}</div>
</div>
{% endif %}
{% endfor %}
