{# Load the tag library #}
{% load bootstrap3 %}

<div class="row">
  <div class="col-xs-3">{% bootstrap_button content="Account" icon="plus" href="#accounts-new" extra_classes="create-button" %}</div>
  <div class="col-xs-3">{% bootstrap_button content="Asset"   icon="plus" href="#assets-new"   extra_classes="create-button" %}</div>
  <div class="col-xs-3">{% bootstrap_button content="Order"   icon="plus" href="#orders-new"  extra_classes="create-button" %}</div>
  <div class="col-xs-3">{% bootstrap_button content="Fill"    icon="plus" href="#fills-new"   extra_classes="create-button" %}</div>
</div>

<!--
  jquery show hide div's with a href tag
  https://jsfiddle.net/bessppxz/
  http://stackoverflow.com/a/12897443/4126114

  jquery children/siblings
  https://api.jquery.com/category/traversing/tree-traversal/
-->
<script>
$(document).ready(function(){
    $("#create-container").children().hide();
    $(".create-button").on("click", function (e) {
        e.preventDefault();
        var idname= $(this).attr("href");
        $(idname).show("slow").siblings().hide("slow");

        $('.create-button.active').removeClass('active');
        if(!$(this).hasClass('active')) {
          $(this).addClass('active');
        }
    });
});
</script>

<div style="margin-top:5px;margin-bottom:5px"></div>

<div id="create-container">
  <div class="row" id="accounts-new">
    {# {% include "zipline_app/account/_account_form.html" %} #}
    <form action="{% url 'zipline_app:accounts-new' %}" method="post" class="form">
      {% csrf_token %}
      <!-- hidden form field -->
      <input type="hidden" name="source" value="combined">
      <div class="row">
        <div class="col-xs-10">
          {% bootstrap_form account_form layout='horizontal' %}
        </div>
        <div class="col-xs-2">
          {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
        </div>
      </div>
    </form>
  </div>

  <div class="row" id="assets-new">
    {# {% include "zipline_app/asset/_asset_form_bootstrap_vanilla.html" %} #}
    <form action="{% url 'zipline_app:assets-new' %}" method="post" class="form">
      {% csrf_token %}
      <!-- hidden form field -->
      <input type="hidden" name="source" value="combined">
      {% bootstrap_form asset_form layout='horizontal' %}
      <div class="col-xs-1 col-xs-offset-11">
        {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
      </div>
    </form>
  </div>

  <div class="row" id="orders-new">

  <!--
    <form action="{% url 'zipline_app:orders-new' %}" method="post">
      {% csrf_token %}
      {{ order_form.as_p }}
      <input type="hidden" name="source" value="combined">
      <input type="submit" value="Save" />
    </form>
  -->

          <form action="{% url 'zipline_app:orders-new' %}" method="post" class="form">
            {% csrf_token %}
            <!-- hidden timestamp -->
            <div style="display: none;">{% bootstrap_field field=order_form.pub_date layout='horizontal' %}</div>
            <!-- hidden form field -->
            <input type="hidden" name="source" value="combined">

            <div class="row">
              <div class="col-xs-3">
                <div class="row">
                  {% bootstrap_field field=order_form.asset layout='horizontal' %}
                </div>
              </div>
              <div class="col-xs-4">
                {% bootstrap_field field=order_form.account layout='horizontal' %}
              </div>
              <div class="col-xs-4 text-right">
                {% bootstrap_field field=order_form.amount layout='horizontal' %}
              </div>
              <div class="col-xs-1 text-right">
                {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
              </div>
            </div>
          </form>
  </div>

  <div class="row" id="fills-new">
          <form action="{% url 'zipline_app:fills-new' %}" method="post" class="form">
            {% csrf_token %}
            <!-- hidden timestamp -->
            <div style="display: none;">{% bootstrap_field field=fill_form.pub_date layout='horizontal' %}</div>
            <!-- hidden form field -->
            <input type="hidden" name="source" value="combined">

            <div class="row">
              <div class="col-xs-3">
                {% bootstrap_field field=fill_form.asset layout='horizontal' %}
              </div>
              <div class="col-xs-4">
                {% bootstrap_field field=fill_form.fill_qty layout='horizontal' %}
              </div>
              <div class="col-xs-4">
                {% bootstrap_field field=fill_form.fill_price layout='horizontal' %}
              </div>
              <div class="col-xs-1">
                {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
              </div>
            </div>
          </div>
          </form>
  </div>

</div><!-- div.container -->

<div style="margin-top:5px;margin-bottom:5px"></div>
