{% load humanize %}

{% for order in duo.orders %}
<div class="row {% if order.filled != order.amount %}text-warning{% endif %}">

  <div class="col-xs-3">{{order.account.account_symbol}}</div>

  <div class="col-xs-2 text-right">{{order.amount|intcomma}}</div>
  <div class="col-xs-2 text-right text-primary">{{order.filled|intcomma}}</div>
  <div class="col-xs-3 text-right text-primary">{{order.avgPrice|floatformat:"2"|intcomma}}</div>

  <div class="col-xs-2">
    <div class="row">
      <div class="col-xs-4">
        {% if order.filled != order.amount %}
        <abbr title="Order is still open">
          <span class="glyphicon glyphicon-alert"></span>
        </abbr>
        {% endif %}
      </div>

      <div class="col-xs-4">
        <abbr title="Order">
          <a href="{% url 'zipline_app:detail' order.id %}">
            #{{order.id}}
          </a>
        </abbr>
      </div>

      <div class="col-xs-4">
        <a href="{% url 'zipline_app:orders-delete' order.id %}">Delete</a>
      </div>

    </div>
  </div>

</div>
{% if order.order_text %}
  <div class="row">
    <div class="col-xs-12 text-muted text-left">{{ order.order_text }}</div>
  </div>
{% endif %}
{% endfor %}
