<!DOCTYPE html>
{% load bootstrap3 %}
{% load static %}
{% load tz %}

<html lang="en">
<head>
  <!-- http://getbootstrap.com/getting-started/#template -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery=1 %}

  <link rel="stylesheet" type="text/css" href="{% static 'zipline_app/style.css' %}" />
  <title>Blotter</title>
</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            FFA Dubai Blotter
          </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'zipline_app:index' %}">Side-by-side view</a></li>
            <li><a href="{% url 'zipline_app:ordersOnly' %}">Consecutive view</a></li>
            <li><a href="{% url 'zipline_app:accounts-list' %}">Accounts</a></li>
            <li><a href="{% url 'zipline_app:assets-list' %}">Assets</a></li>
            <li><a href="{% url 'zipline_app:orders-list' %}">Orders</a></li>
            <li><a href="{% url 'zipline_app:fills-list' %}">Fills</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>

          <!-- http://getbootstrap.com/components/#navbar-links -->
          <div class="nav navbar-nav navbar-right navbar-text">
            {% get_current_timezone as TIME_ZONE %}
            {{TIME_ZONE}}
          </div>

        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <!--
      Bootstrap CSS Active Navigation
      http://stackoverflow.com/a/13189166/4126114
    -->
    <script type="text/javascript">
      path = document.location.pathname
      path = "/"+path.split('/')[1]+"/"
      $('.navbar-nav li.active').removeClass('active');
      $('.navbar-nav > li > a[href="' + path + '"]').parent().addClass('active');
    </script>

    <div class="container">
      <div>
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
      </div>

      <div>
          {% block content %}{% endblock %}
      </div>
    </div>

</body>

</html>
