{% extends "zipline_app/base.html" %}
{% load humanize %}
{% load poll_extras %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}

{% if zl_unused|length > 0 %}
<div class="alert alert-danger">
  Assets with extra fills:
  <ul>
  {% for asset,qty in zl_unused %}
    <li>{{asset.symbol}}: {{qty}}</li>
  {% endfor %}
  </ul>
</div>
{% endif %}

  <div class="container">
   {% include 'zipline_app/_index_create.html' %}

    <em>
      <div class="row">
        <div class="col-xs-1"><!-- timestamp --></div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-7">
              <div class="row">
                <div class="col-xs-2"><!-- asset --></div>
                <div class="col-xs-10 text-left"><b>Orders</b></div>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="row">
                <div class="col-xs-2"><!-- asset --></div>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-2"><!-- not sure what this is --></div>
                    <div class="col-xs-10 text-left"><b>Fills</b></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-1"><!-- timestamp --></div>
      </div>
    </em>

    <em>
      <div class="row">
        <div class="col-xs-1"><!-- timestamp --></div>
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-7">
              <div class="row">
                <div class="col-xs-2"><b>Asset</b></div>
                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-3">Account</div>
                    <div class="col-xs-2 text-right"><abbr title="Quantity">Q</abbr></div>
                    <div class="col-xs-2 text-right"><abbr title="Filled">F</abbr></div>
                    <div class="col-xs-3 text-right"><abbr title="Average Price">P</abbr></div>
                    <div class="col-xs-2"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xs-5">
              <div class="row">
                <div class="col-xs-2">Asset</div>

                <div class="col-xs-10">
                  <div class="row">
                    <div class="col-xs-4 text-right"><abbr title="Quantity">Q</abbr></div>
                    <div class="col-xs-4 text-right"><abbr title="Price">P</abbr></div>
                    <div class="col-xs-4"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-xs-1"><!-- timestamp --></div>
      </div>
    </em>

    {% for minute in combined %}
    <hr style="margin-top:5px;margin-bottom:5px">
    <div class="row">
        <div class="col-xs-1 text-right">
          <em>
            <div class="row"><b>{{minute.minute|strftime:"%H:%M"}}</b></div>
            <div class="row small text-muted">{{minute.minute|strftime:"%Y-%m-%d"}}</div>
          </em>
        </div>

        <div class="col-xs-10">
          {% for duo in minute.duos %}
          <div class="row">
            <div class="col-xs-7">
              <div class="row">
                <div class="col-xs-2" title="{{duo.asset}}">
                  {% if duo.orders|length > 0 %}
                  {{duo.asset.asset_symbol}}
                  {% endif %}
                </div>

                <div class="col-xs-10">
                  {% include 'zipline_app/_index_orders.html' %}
                </div>
              </div>
            </div>
            <div class="col-xs-5">
              <div class="row">
                <div class="col-xs-2" title="{{duo.asset}}">
                  {% if duo.fills|length > 0 %}
                  {{duo.asset.asset_symbol}}
                  {% endif %}
                </div>

                <div class="col-xs-10">
                  {% include 'zipline_app/_index_fills.html' %}
                </div>
              </div>
            </div>

          </div>
          {% endfor %}
        </div>

        <div class="col-xs-1 text-left">
          <em>
            <div class="row"><b>{{minute.minute|strftime:"%H:%M"}}</b></div>
            <div class="row small text-muted">{{minute.minute|strftime:"%Y-%m-%d"}}</div>
          </em>
        </div>

    </div>
    {% empty %}
      No orders are available.
    {% endfor %}

  </div>

{% endblock %}
