alembic==0.8.10
appdirs==1.4.0
bcolz==0.12.1
Bottleneck==1.2.0
cachetools==2.0.0
click==6.7
contextlib2==0.5.4
cookies==2.2.1
cyordereddict==1.0.0
Cython==0.25.2
DateTime==4.1.1
decorator==4.0.11
Django==1.10.5
django-bootstrap3==8.1.0
empyrical==0.2.2
intervaltree==2.1.0
Logbook==1.0.0
Mako==1.0.6
MarkupSafe==0.23
multipledispatch==0.4.9
networkx==1.11
numexpr==2.6.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pandas-datareader==0.3.0.post0
patsy==0.4.1
pbr==1.10.0
pyparsing==2.1.10
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2016.10
requests==2.13.0
requests-file==1.4.1
requests-ftp==0.3.1
scipy==0.18.1
six==1.10.0
sortedcontainers==1.5.7
SQLAlchemy==1.1.5
statsmodels==0.8.0
testfixtures==4.13.4
toolz==0.8.2
zipline==1.0.2
zope.interface==4.3.3
