{# Load the tag library #}
{% load bootstrap3 %}

<!--
     Button trigger modal from
     http://getbootstrap.com/javascript/#live-demo
-->

<div class="col-xs-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#accounts-new">
    <span class="glyphicon glyphicon-plus"></span>
    Account
  </button>
</div>
<div class="col-xs-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assets-new">
    <span class="glyphicon glyphicon-plus"></span>
    Asset
  </button>
</div>
<div class="col-xs-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#orders-new">
    <span class="glyphicon glyphicon-plus"></span>
    Order
  </button>
</div>
<div class="col-xs-3">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fills-new">
    <span class="glyphicon glyphicon-plus"></span>
    Fill
  </button>
</div>
