{# Load the tag library #}
{% load bootstrap3 %}

<!-- Modal -->
<div class="modal fade" id="accounts-new" tabindex="-1" role="dialog" aria-labelledby="accounts-new-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <form action="{% url 'zipline_app:accounts-new' %}" method="post" class="form">
        {% csrf_token %}
        <!-- hidden form field -->
        <input type="hidden" name="source" value="{{source}}">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="accounts-new-label">New account</h4>
        </div>

        <div class="modal-body">
          {% bootstrap_form account_form layout='horizontal' %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
        </div>
      </form>

    </div>
  </div>
</div>
