{# Load the tag library #}
{% load bootstrap3 %}

{# copied from https://github.com/applegrew/django-select2/blob/master/tests/testapp/templates/form.html#L5 #}
{{ fill_form.media.css }}

<!-- Modal: do not use tabindex=-1
    http://stackoverflow.com/a/18487440/4126114
-->
<div class="modal fade" id="fills-new" role="dialog" aria-labelledby="fills-new-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      {% comment %}
        <form action="{% url 'zipline_app:fills-new' %}" method="post">
          {% csrf_token %}
          {{ fill_form.as_p }}
          <input type="hidden" name="source" value="{{source}}">
          <input type="submit" value="Save" />
        </form>
      {% endcomment %}

      {# {% include "zipline_app/asset/_asset_form_bootstrap_vanilla.html" %} #}
      <form action="{% url 'zipline_app:fills-new' %}" method="post" class="form-horizontal">
        {% csrf_token %}

        <!-- hidden form field -->
        <input type="hidden" name="source" value="{{source}}">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="fills-new-label">New fill</h4>
        </div>


        <div class="modal-body">
              {% bootstrap_field field=fill_form.pub_date layout='horizontal' %}
              {% bootstrap_field field=fill_form.asset layout='horizontal' field_class='my-select2' %}
              {% bootstrap_field field=fill_form.fill_side layout='horizontal' %}
              {% bootstrap_field field=fill_form.fill_qty_unsigned layout='horizontal' %}
              {% bootstrap_field field=fill_form.fill_price layout='horizontal' %}
              {% bootstrap_field field=fill_form.tt_order_key layout='horizontal' %}
              {% bootstrap_field field=fill_form.fill_text layout='horizontal' %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
        </div>
      </form>

    </div>
  </div>
</div>

{# copied from https://github.com/applegrew/django-select2/blob/master/tests/testapp/templates/form.html#L24 #}
{{ fill_form.media.js }}
