<script type="text/javascript">
$(function() {
  <!-- How to reset form body in bootstrap modal box
       http://stackoverflow.com/questions/15827262/ddg#20918538
       -->
  $('.modal').on('hidden.bs.modal', function(){
        $(this).find('form')[0].reset();
        $(this).find('input').prop('disabled',false);
        $(this).find('select').prop('disabled',false);
        $(this).find('.extra-dyn').remove();
  });

  $('.django-select2').css('width', '100%');
  $('#orders-new .django-select2').djangoSelect2({
    dropdownParent: $('#orders-new')
  });
  $('#fills-new .django-select2').djangoSelect2({
    dropdownParent: $('#fills-new')
  });

});
</script>
