{% load bootstrap3 %}

{# copied from https://github.com/applegrew/django-select2/blob/master/tests/testapp/templates/form.html#L5 #}
{{ order_form.media.css }}

<!-- Modal: do not use tabindex=-1
    http://stackoverflow.com/a/18487440/4126114
-->
<div class="modal fade" id="orders-new" role="dialog" aria-labelledby="orders-new-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      {% comment %}
        <form action="{% url 'zipline_app:orders-new' %}" method="post">
          {% csrf_token %}
          {{ order_form.as_p }}
          <input type="hidden" name="source" value="{{source}}">
          <input type="submit" value="Save" />
        </form>
      {% endcomment %}

      {# {% include "zipline_app/asset/_asset_form_bootstrap_vanilla.html" %} #}
      <form action="{% url 'zipline_app:orders-new' %}" method="post" class="form">
        {% csrf_token %}
        <!-- hidden timestamp -->
        <div style="display: none;">{% bootstrap_field field=order_form.pub_date layout='horizontal' %}</div>

        <!-- hidden form field -->
        <input type="hidden" name="source" value="{{source}}">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="orders-new-label">New order</h4>
        </div>

        <div class="modal-body">
              {% bootstrap_field field=order_form.pub_date layout='horizontal' %}
              {% bootstrap_field field=order_form.asset layout='horizontal' %}
              {% bootstrap_field field=order_form.account layout='horizontal' %}
              {% bootstrap_field field=order_form.order_type layout='horizontal' %}
              {% bootstrap_field field=order_form.limit_price layout='horizontal' %}
              {% bootstrap_field field=order_form.order_side layout='horizontal' %}
              {% bootstrap_field field=order_form.amount_unsigned layout='horizontal' %}
              {% bootstrap_field field=order_form.order_text layout='horizontal' %}
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {% bootstrap_button content="Save" button_type="submit" button_class="btn-primary" %}
        </div>
      </form>

    </div>
  </div>
</div>

{# copied from https://github.com/applegrew/django-select2/blob/master/tests/testapp/templates/form.html#L24 #}
{{ order_form.media.js }}
