{# Load the tag library #}
{% load bootstrap3 %}

<!--
     Button trigger modal from
     http://getbootstrap.com/javascript/#live-demo
-->

<div class='btn-group'>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create
    <span class="glyphicon glyphicon-plus"></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <a href="#" data-toggle="modal" data-target="#accounts-new">
        Account
      </a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#assets-new">
        Asset
      </a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#orders-new">
        Order
      </a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#fills-new">
        Fill
      </a>
    </li>
  </ul>
</div>
