{% extends "zipline_app/base.html" %}

{% block content %}
 {% include 'zipline_app/blotter/_create_modals.html' %}
  <div class='row'>
    <div class='pull-right btn-group'>
      <button class='btn btn-default' data-toggle="modal" data-target="#orders-new">
        Order
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      {% if source != 'blotter-concealed' %}
      <button class='btn btn-default' href="#" data-toggle="modal" data-target="#fills-new">
        Fill
        <span class="glyphicon glyphicon-plus"></span>
      </button>
      {% endif %}
      <div class="btn-group" role="group" aria-label="view">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View
          <span class="glyphicon glyphicon-list"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="{% url 'zipline_app:blotter-sideBySide' %}">Side-by-side</a>
          </li>
          <li>
            <a href="{% url 'zipline_app:blotter-engine' %}">Engine</a>
          </li>
          <li>
            <a href="{% url 'zipline_app:blotter-concealed' %}">Concealed</a>
          </li>
        </ul>
      </div>
      <a class="btn btn-default" href="{% url 'zipline_app:blotter-download' %}">Download</a>
    </div>
  </div>

  <div style="margin-top:5px;margin-bottom:5px"></div>

  <div>
      {% block content_blotter %}
      {% endblock %}
  </div>
{% endblock %}
