{% extends "zipline_app/base.html" %}

{% block content %}
 {% include 'zipline_app/blotter/_create_modals.html' %}

  <div class='row'>
    <div class='pull-right btn-group'>
      {% include 'zipline_app/blotter/_create_buttons.html' %}
      <div class="btn-group" role="group" aria-label="view">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          View
          <span class="glyphicon glyphicon-list"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a href="{% url 'zipline_app:blotter-sideBySide' %}">Side-by-side</a>
          </li>
          <li>
            <a href="{% url 'zipline_app:blotter-engine' %}">Engine</a>
          </li>
          <li>
            <a href="{% url 'zipline_app:blotter-concealed' %}">Concealed</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div style="margin-top:5px;margin-bottom:5px"></div>

  <div>
      {% block content_blotter %}
      {% endblock %}
  </div>
{% endblock %}
