{% load humanize %}
{% load bootstrap3 %}

  <div class="col-xs-1 text-right">
    <div class='row'>
      <div class='col-xs-6'>
        <a href="{% url 'zipline_app:orders-detail' order.id %}">
          #{{order.id}}
        </a>
      </div>

      <div class='col-xs-6'>
        {% ifchanged order.pub_date %}
        <em><b>{{order.pub_date|date:"H:i"}}</b></em>
        {% else %}
        &nbsp;
        {% endifchanged %}
      </div>
    </div>
  </div>

  <div class="col-xs-1">
      {% ifchanged  order.user.username order.pub_date.date %}
      {{order.user.username}}
      {% endifchanged %}
  </div>

  <div class="col-xs-1">
    -
  </div>

  <div class="col-xs-2">
    {% ifchanged order.account order.pub_date.date %}
      <a href="{% url 'zipline_app:accounts-detail' order.account.id %}">
        {{order.account.account_symbol}}
      </a>
      :{{order.account.account_name}}
    {% endifchanged %}
  </div>

  <div class="col-xs-1 text-right">
    <div class='row'>
      <div class='col-xs-3'>
        {{order.order_side}}
      </div>
      <div class='col-xs-9'>
        {{order.amount_unsigned|intcomma}}
      </div>
    </div>
  </div>

  <div class="col-xs-3">
    {% ifchanged order.asset order.pub_date.date %}
    <a href="{% url 'zipline_app:assets-detail' order.asset.id %}">
      {{order.asset.asset_symbol}}
    </a>: {{order.asset.asset_name}}
    {% endifchanged %}
  </div>

  <div class="col-xs-1 text-right">{{order.avgPrice|floatformat:"2"|intcomma}}</div>

  <div class="col-xs-1">
  </div>

  <div class="col-xs-2">
    <div class='row'>
      <div class='col-xs-4'>
        {% if order.dedicated_fill is not None %}
        {{order.dedicated_fill.tt_order_key}}
        {% else %}
        -
        {% endif %}
      </div>

      <div class='col-xs-6 text-right'>
        {% if order.dedicated_fill is not None %}
        <div class='row'>
          <a href="{% url 'zipline_app:fills-detail' order.dedicated_fill.id %}">
            Fill #{{order.dedicated_fill.id}}
          </a>
          ({{order.dedicated_fill.user.username}})
        </div>
        {% endif %}

        {% if order.filled == order.amount_signed and order.dedicated_fill is None %}
        <div class='row'>
          Filled
        </div>
        {% endif %}

        {% if order.filled != order.amount_signed %}
        <div class='row'>
          Filled {{order.filled|intcomma}} / {{order.amount_signed}}

          <abbr title="Close order #{{order.id}}">
            <button
              type="button"
              class="btn btn-xs fill-from-order"
              data-toggle="modal"
              data-target="#fills-new"
              data-order-id="{{order.id}}"
              data-order-pub_date="{{order.pub_date|date:"Y-m-d H:i:s"}}"
              data-order-order_side="{{order.order_side}}"
              data-order-amount_unsigned="{{order.amount_unsigned}}"
              data-order-asset-id="{{order.asset.id}}"
              data-order-asset-str="{{order.asset.str}}"
            >
              <span class="glyphicon glyphicon-copy"></span>
            </button>
          </abbr>
        </div>
        {% endif %}
      </div>
      <div class='col-xs-2'>&nbsp;</div>
    </div>
  </div>


