{% load humanize %}
{% load bootstrap3 %}

  <div class="col-xs-1 text-right">
    <div class='row'>
      <div class='col-xs-6'>
        <a href="{% url 'zipline_app:orders-detail' order.id %}">
          #{{order.id}}
        </a>
      </div>

      <div class='col-xs-6'>
        {% ifchanged order.pub_date %}
        <em><b>{{order.pub_date|date:"H:i"}}</b></em>
        {% else %}
        &nbsp;
        {% endifchanged %}
      </div>
    </div>
  </div>

  <div class="col-xs-1">
      {% ifchanged  order.user.username order.pub_date.date %}
      {{order.user.username}}
      {% endifchanged %}
  </div>

  <div class="col-xs-2">
    {% ifchanged order.account order.pub_date.date %}
      <a href="{% url 'zipline_app:blotter-concealed' %}?account={{order.account.id}}{% if sort %}&sort={{sort}}{% endif %}{% if filter_asset %}&asset={{filter_asset.id}}{% endif %}">
        {{order.account.account_symbol}}
      </a>
      :{{order.account.account_name}}
    {% endifchanged %}
  </div>

  <div class="col-xs-1">
    <div class='row'>
      {{order.order_side}}
      <span class='pull-right'>{{order.order_qty_unsigned|intcomma}}</span>
    </div>
  </div>

  <div class="col-xs-3">
    {% ifchanged order.asset order.pub_date.date %}
    <a href="{% url 'zipline_app:blotter-concealed' %}?asset={{order.asset.id}}{% if sort %}&sort={{sort}}{% endif %}{% if filter_account %}&account={{filter_account.id}}{% endif %}">

      {{order.asset.asset_symbol}}
    </a>: {{order.asset.asset_name}}
    {% endifchanged %}
  </div>

  <div class="col-xs-1 text-right">
    {% if order.order_type == "M" %}
      {% if order.filled == 0 %}
        <span>Market</span>
      {% else %}
        <span title="{% if order.dedicated_fill is None %}Average price{% else %}Market price{% endif %}">
          {{order.avgPrice|floatformat:"5"|intcomma}}
        </span>
      {% endif %}
    {% else %}
    <span title="Limit price">{{order.limit_price|floatformat:"5"|intcomma}}</span>
    {% endif %}
  </div>

  <div class="col-xs-1">
    {{order.get_order_validity_display}}
    {% if order.order_validity == 'D' %}
    ({{order.validity_date.date|date:'Y-m-d'}})
    {% endif %}
  </div>

  <div class="col-xs-2">
    <div class='row'>
      <div class='col-xs-4'>
        {% if order.dedicated_fill is not None %}
        {{order.dedicated_fill.tt_order_key}}
        {% else %}
        -
        {% endif %}
      </div>

      <div class='col-xs-6 text-right'>
        {% include 'zipline_app/blotter/concealed/_orders_status.html' %}
      </div>
      <div class='col-xs-2'>&nbsp;</div>
    </div>
  </div>


