{% load humanize %}

{% if order.dedicated_fill is not None %}

  <div class='row'>
    <a href="{% url 'zipline_app:fills-detail' order.dedicated_fill.id %}">
      Fill #{{order.dedicated_fill.id}}
    </a>
    ({{order.dedicated_fill.user.username}})
  </div>

{% else %}

  <div class='row text-right'>
  {% if order.filled == order.order_qty_signed %}
    Filled
  {% else %}
    {% if order.order_status == 'C' and order.filled != 0 %}
    {{order.filled|intcomma}} / {{order.order_qty_signed}}
    {% endif %}

    {% if order.order_status != 'C' %}
      <abbr title="Fill order #{{order.id}}">
        <button
          type="button"
          class="btn btn-xs fill-from-order"
          data-toggle="modal"
          data-target="#fills-new"
          data-order-id="{{order.id}}"
          data-order-pub_date="{{order.pub_date|date:"Y-m-d H:i:s"}}"
          data-order-order_side="{{order.order_side}}"
          data-order-order_type="{{order.order_type}}"
          data-order-limit_price="{{order.limit_price}}"
          data-order-order_qty_unsigned="{{order.order_qty_unsigned}}"
          data-order-asset-id="{{order.asset.id}}"
          data-order-asset-str="{{order.asset.str}}"
        >
          <span class="glyphicon glyphicon-copy"></span>
        </button>
      </abbr>
    {% endif %}

  {% endif %}
  </div>

  {% if order.order_status == 'C' %}
    <div class='row text-right'>
    {% if order.filled != order.order_qty_signed %}
      {% if order.filled != 0 %}
      Partial
      {% else %}
      Cancelled
      {% endif %}
    {% else %}
      Filled yet cancelled!
    {% endif %}
    </div>
  {% endif %}

{% endif %}
