{% extends "zipline_app/blotter/base.html" %}
{% load humanize %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content_blotter %}

  {% include 'zipline_app/blotter/concealed/_extras.html' %}

  <div>

      <div class="row text-center">
        <div class="col-xs-1 text-right">
          {% include 'zipline_app/blotter/concealed/_sortable.html' with field_name='Time' field_sort='-pub_date' field_direction='up' %}
        </div>
        <div class="col-xs-1"><em>Placed by</em></div>
        <div class="col-xs-1"><em>Given by</em></div>
        <div class="col-xs-2">
          {% include 'zipline_app/blotter/concealed/_sortable.html' with field_name='Client' field_sort='account__account_name' field_direction='down' %}
        </div>
        <div class="col-xs-1"><em>Qty</em></div>
        <div class="col-xs-3">
          {% include 'zipline_app/blotter/concealed/_sortable.html' with field_name='Security' field_sort='asset__asset_name' field_direction='down' %}
        </div>
        <div class="col-xs-1"><em>Price</em></div>
        <div class="col-xs-2">
          <div class='row'>
            <div class='col-xs-4'><em>Order key</em></div>
            <div class="col-xs-6"><em>Status</em></div>
          </div>
        </div>
      </div>
    </em>

    {% for order in latest_order_list %}

      {# https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#ifchanged #}
      {% ifchanged order.pub_date.date %}
        <hr style="margin-top:5px;margin-bottom:5px">
        <div class="row text-center text-info">
          <br>&nbsp;
          {# {{ minute.minute.date }} #}
          {{order.pub_date|date:"Y-m-d"}}
          <br>&nbsp;
        </div>
      {% endifchanged %}

      <div class="row {% if order.filled == order.amount_signed %}text-muted{% endif %}">

        {% include 'zipline_app/blotter/concealed/_orders.html' %}
      </div><!-- end row -->

      {% if order.order_text %}
      <div class="row">
        <div class="col-xs-12 text-muted text-left">{{ order.order_text }}</div>
      </div>
      {% endif %}

    {% empty %}
      No orders are available.
    {% endfor %}

    {% include 'zipline_app/blotter/concealed/_orders_js.html' %}

  </div>

{% endblock %}
