{% extends "zipline_app/blotter/base.html" %}
{% load humanize %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content_blotter %}

  {# {% include 'zipline_app/blotter/concealed/_extras.html' %} #}

  {% if sort is not None or filter_account is not None or filter_asset is not None %}
  <div class='row alert'>
    <b>

    {% if sort is not None and sort != '-pub_date' %}
      Sorted by:
      <span class='btn btn-default'>
        {% if sort == 'account__account_name' %}
        account
        {% else %}
          {% if sort == 'asset__asset_name' %}
          asset
          {% else %}
          {{sort}}
          {% endif %}
        {% endif %}
        &nbsp;
        <a href='#' name='delete-param' data-param="sort" title="Remove sort">
          <span class='glyphicon glyphicon-remove'></span>
        </a>
      </span>
      &nbsp;
    {% endif %}

    {% if filter_account is not None or filter_asset is not None %}
      Filtered for:
      {% if filter_account is not None %}
      <span class='btn btn-default'>
        account
        <a href="{% url 'zipline_app:accounts-detail' filter_account.id %}" title="Account details">
          {{filter_account.account_symbol}}
        </a>:
        {{filter_account.account_name}}
        &nbsp;
        <a href='#' name="delete-param" data-param="account" title="Remove filter">
          <span class='glyphicon glyphicon-remove'></span>
        </a>
      </span>
      {% endif %}

      {% if filter_asset is not None %}
      <span class='btn btn-default'>
        asset
        <a href="{% url 'zipline_app:assets-detail' filter_asset.id %}" title="Asset details">
          {{filter_asset.asset_symbol}}
        </a>:
        {{filter_asset.asset_name}}
        &nbsp;
        <a href='#' name='delete-param' data-param="asset" title="Remove sort">
          <span class='glyphicon glyphicon-remove'></span>
        </a>
      </span>
      {% endif %}
    {% endif %}

    </b>
  </div>

  <script type="text/javascript">
    $("a[name='delete-param']").click(function() {
      // Mozilla URLSearchParams
      // https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams
      const searchParams = new URLSearchParams(window.location.search);
      searchParams.delete($(this).data("param"));
      window.location.search = searchParams.toString();
      return false;
    });
  </script>
  {% endif %}

    <div class="row text-center">
      <div class="col-xs-1 text-right">
        {% include 'zipline_app/blotter/concealed/_sortable.html' with field_name='Time' field_sort='-pub_date' field_direction='up' %}
      </div>
      <div class="col-xs-1"><em>Placed by</em></div>
      <div class="col-xs-2">
        {% include 'zipline_app/blotter/concealed/_sortable.html' with field_name='Client' field_sort='account__account_name' field_direction='down' %}
        <a href="#" id="search-account-btn"><span class="glyphicon glyphicon-search"></span></a>
        <div id="search-account-div">{% bootstrap_field field=order_form.account layout='inline' %}</div>
      </div>
      <div class="col-xs-1"><em>Qty</em></div>
      <div class="col-xs-3">
        {% include 'zipline_app/blotter/concealed/_sortable.html' with field_name='Security' field_sort='asset__asset_name' field_direction='down' %}
        <a href="#" id="search-asset-btn"><span class="glyphicon glyphicon-search"></span></a>
        <div id="search-asset-div">{% bootstrap_field field=order_form.asset layout='inline' %}</div>
        <script type="text/javascript">
          function setSearchEvents(type) {
            $("#search-"+type+"-div").hide();
            $("#search-"+type+"-btn").click(function() {
              $("#search-"+type+"-div").toggle();
              return false;
            });
            $("#search-"+type+"-div select").on("select2:select", function() {
              // Change URL parameters
              // http://stackoverflow.com/a/41662783/4126114
              // Mozilla URLSearchParams
              // https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams
              const searchParams = new URLSearchParams(window.location.search);
              searchParams.set(type, $(this).val());
              window.location.search = searchParams.toString();
            });
          }
          setSearchEvents("asset");
          setSearchEvents("account");
        </script>
      </div>
      <div class="col-xs-1"><em>Price</em></div>
      <div class="col-xs-1"><em>Validity</em></div>
      <div class="col-xs-2">
        <div class='row'>
          <div class='col-xs-4'><em>Order key</em></div>
          <div class="col-xs-6"><em>Status</em></div>
        </div>
      </div>
    </div>

    {% for order in latest_order_list %}

      {# https://docs.djangoproject.com/en/1.10/ref/templates/builtins/#ifchanged #}
      {% ifchanged order.pub_date.date %}
        <hr style="margin-top:5px;margin-bottom:5px">
        <div class="row text-center text-info">
          <br>&nbsp;
          {# {{ minute.minute.date }} #}
          {{order.pub_date|date:"Y-m-d"}}
          <br>&nbsp;
        </div>
      {% endifchanged %}

      <div class="row {% if order.filled == order.order_qty_signed or order.order_status == 'C' %}text-muted{% endif %}">

        {% include 'zipline_app/blotter/concealed/_orders.html' %}
      </div><!-- end row -->

      {% if order.order_text %}
      <div class="row text-muted">
        <div class="col-xs-12 text-left">{{ order.order_text }}</div>
      </div>
      {% endif %}

    {% empty %}
      No orders are available.
    {% endfor %}

    {% include 'zipline_app/blotter/concealed/_orders_js.html' %}

  </div>
  <br/>

{% endblock %}
