{% load humanize %}
{% load bootstrap3 %}

{% for order in duo.orders %}
<div class="row {% if order.filled != order.amount_signed %}text-warning{% endif %}">

  <div class="col-xs-2">{{order.account.account_symbol}}</div>

  <div class="col-xs-3 text-right">
    {{order.order_side}}
    {{order.amount_unsigned|intcomma}}
  </div>
  <div class="col-xs-2 text-right text-primary">{{order.filled|intcomma}}</div>
  <div class="col-xs-3 text-right text-primary">{{order.avgPrice|floatformat:"2"|intcomma}}</div>

  <div class="col-xs-2">
    <div class="row">
      <div class="col-xs-6">
        {% if order.filled != order.amount_signed %}
        <abbr title="Close order #{{order.id}}">
          <button
            type="button"
            class="btn btn-xs fill-from-order"
            data-toggle="modal"
            data-target="#fills-new"
            data-order-id="{{order.id}}"
            data-order-pub_date="{{order.pub_date|date:"Y-m-d H:i:s"}}"
            data-order-order_side="{{order.order_side}}"
            data-order-amount_unsigned="{{order.amount_unsigned}}"
            data-order-asset-id="{{order.asset.id}}"
          >
            <span class="glyphicon glyphicon-copy"></span>
          </button>
        </abbr>
        {% endif %}
      </div>

      <div class="col-xs-6">
        <abbr title="Order">
          <a href="{% url 'zipline_app:orders-detail' order.id %}">
            #{{order.id}}
          </a>
        </abbr>
      </div>
    </div>
  </div>
</div>

{% if order.order_text %}
  <div class="row">
    <div class="col-xs-12 text-muted text-left">{{ order.order_text }}</div>
  </div>
{% endif %}
{% endfor %}

<script type="text/javascript">
$(function() {
  $('.fill-from-order').unbind().click(function(){
      // get all data-... attributes
      var data = {
        'order-id': $(this).attr('data-order-id'),
        'pub_date': $(this).attr('data-order-pub_date'),
        'order_side': $(this).attr('data-order-order_side'),
        'amount_unsigned': $(this).attr('data-order-amount_unsigned'),
        'asset-id': $(this).attr('data-order-asset-id'),
      };

      // set the default values to the data-... attributes above
      $('#fills-new input[name="pub_date"]').val(data['pub_date']);
      $('#fills-new select[name="fill_side"]').val(data['order_side']);
      $('#fills-new input[name="fill_qty_unsigned"]').val(data['amount_unsigned']);
      $('#fills-new select[name="asset"]').val(data['asset-id']);

      // set to disabled to disallow user from changing
      // note that 'readonly' does not work for select
      $('#fills-new input[name="pub_date"]').prop('disabled', true);
      $('#fills-new select[name="fill_side"]').prop('disabled', true);
      $('#fills-new input[name="fill_qty_unsigned"]').prop('disabled', true);
      $('#fills-new select[name="asset"]').prop('disabled', true);

      // since disabled fields do not get posted, add hidden fields
      // http://stackoverflow.com/a/2834115/4126114
      form=$('#fills-new').find('form');
      $('<input/>', {type:'hidden', class:'extra-dyn', name:'pub_date',          value:data['pub_date']       }).appendTo(form);
      $('<input/>', {type:'hidden', class:'extra-dyn', name:'fill_side',         value:data['order_side']     }).appendTo(form);
      $('<input/>', {type:'hidden', class:'extra-dyn', name:'fill_qty_unsigned', value:data['amount_unsigned']}).appendTo(form);
      $('<input/>', {type:'hidden', class:'extra-dyn', name:'asset',             value:data['asset-id']       }).appendTo(form);

      // dedicated to order is a hidden field
      $('<input/>', {type:'hidden', class:'extra-dyn', name:'dedicated_to_order',value:data['order-id']       }).appendTo(form);
  });
});
</script>

