{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!-- this works but below doesnt -->
<form action="" method="post">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Save" />
</form>

<!--
this yields a csrf token error
<form action="" method="post" id="FORM-ID">{% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Save
    </button>
  {% endbuttons %}
</form>-->

<!--
{# Display a form #}
<form class="form-inline" id="FORM-ID" method="post" action="{% url 'zipline_app:orders-new' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="order_symbol">Symbol</label>
    <input type="text" class="form-control" name="order_symbol" id="order_symbol" placeholder="AAPL">
  </div>
  <div class="form-group">
    <label for="order_name">Name</label>
    <input type="text" class="form-control" name="order_name" id="order_name" placeholder="Crude June 16">
  </div>
  <div class="form-group">
    <label for="order_exchange">Exchange</label>
    <input type="text" class="form-control" name="order_exchange" id="order_exchange" placeholder="NYSE">
  </div>
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
-->
