{% load humanize %}
{# note that this template is also used in the email, so probably not a good idea to use bootstrap here? Maybe if needed I'll split this into two files, one for the email and another for the UI #}

<h2>Order Details</h2>
<ul>
  <li>Date: {{order.pub_date}}</li>
  <li>Asset: {{order.asset.asset_symbol}}</li>
  <li>Type: {{order.get_order_type_display}}</li>
  {% if order.order_type == 'L' %}
  <li>Limit price: {{order.limit_price}}</li>
  {% endif %}
  <li>Side: {{order.get_order_side_display}}</li>
  <li>Qty: {{order.order_qty_unsigned|intcomma}}</li>
  <li>Filled: <font color="red">{{order.filled|intcomma}}</font></li>
  <li>Status: {{order.get_order_status_display}}</li>
  <li>Account: {{order.account.account_symbol}}</li>
  <li>
    Dedicated fill:
    {% if order.dedicated_fill is not None %}
    <a href="{% url 'zipline_app:fills-detail' order.dedicated_fill.id %}">
      #{{order.dedicated_fill.id}}
    </a>
    {% else %}
    None
    {% endif %}
  </li>
  <li>Comment: {% if order.order_text %}{{ order.order_text }}{% else %}None{% endif %}</li>
  <li>User: {{order.user.username}}</li>
  <li>
    Validity: {{order.get_order_validity_display}}
    {% if order.order_validity == 'D' %}
    ({{order.validity_date}})
    {% endif %}
  </li>
  <li>Comments: {{ order.order_text }}</li>
</ul>

{% if domain %}
<p>
  Published in
  <a href="{{domain}}{% url 'zipline_app:blotter-concealed' %}">blotter</a>
  /
  <a href="{{ domain }}{% url 'zipline_app:orders-detail' order.id %}">order #{{order.id}}</a>
</p>
{% endif %}
