{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

<form action="" method="post" class="form">
  {% csrf_token %}
  {#  {% bootstrap_form form layout='horizontal' %}#}
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2"><div class="row">{% bootstrap_field field=form.pub_date %}</div></div>
    <div class="col-xs-2"><div class="row">{% bootstrap_field field=form.asset %}</div></div>
    <div class="col-xs-2"><div class="row">{% bootstrap_field field=form.account %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.order_side %}</div></div>
    <div class="col-xs-2"><div class="row">{% bootstrap_field field=form.amount_unsigned %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.order_text placeholder="some comments" %}</div></div>
    <div class="col-xs-1">{% bootstrap_button content="Save" icon="star" button_type="submit" %}</div>
  </div>
</form>
