{% extends "zipline_app/base.html" %}


{% block content %}
{% include 'zipline_app/blotter/_create_modals_order.html' %}
{% include 'zipline_app/blotter/_create_modals_js.html' %}

<div class='row'>
  <div class='col-md-3'>
    <h1>Orders</h1>
  </div>
  <div class='col-md-9 text-right'>
    <button data-toggle="modal" data-target="#orders-new" class='btn btn-primary'>
      Create
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

    {% for order in order_list %}
    <div class="row">
      <div class="col-xs-1 text-right">
        <a href="{% url 'zipline_app:orders-detail' order.id %}">#{{ order.id }}</a>
      </div>
      <div class="col-xs-2">{{ order.pub_date|date:"Y-m-d H:i:s" }}</div>
      <div class="col-xs-1">
        <a href="{% url 'zipline_app:assets-list' %}">{{ order.asset.asset_symbol }}</a>
      </div>
{#      <a href="{% url 'zipline_app:accounts-list' %}">{{ order.account.account_symbol }}</a>,#}
      <div class="col-xs-1">
        {% if order.order_type=="L" %}
        {{ order.limit_price }}
        {% else %}
        &nbsp;
        {% endif %}
      </div>
      <div class="col-xs-1">{{ order.order_side }}</div>
      <div class="col-xs-1 text-right">{{ order.amount_unsigned }}</div>
      <div class="col-xs-2">{{order.account.account_symbol}}</div>
      <div class="col-xs-2">{{ order.order_text }}</div>
      <div class="col-xs-1">{{ order.user.username }}</div>
    </div>
{% empty %}
    <div class="alert alert-info">No orders yet.</div>
{% endfor %}

{% endblock %}
