{% extends "zipline_app/base.html" %}


{% block content %}
<h1>Orders</h1>

<a href="{% url 'zipline_app:orders-new' %}">New</a>

{% include "zipline_app/order/_order_form.html" %}

    {% for order in order_list %}
    <div class="row">
      <div class="col-xs-1 text-right">{{ order.id }}</div>
      <div class="col-xs-2">{{ order.pub_date }}</div>
      <div class="col-xs-2">
        <a href="{% url 'zipline_app:assets-list' %}">{{ order.asset.symbol }}</a>
      </div>
{#      <a href="{% url 'zipline_app:accounts-list' %}">{{ order.account.account_symbol }}</a>,#}
      <div class="col-xs-2">{{order.account.account_symbol}}</div>
      <div class="col-xs-2 text-right">{{ order.amount }}</div>
      <div class="col-xs-2">{{ order.order_text }}</div>
      <div class="col-xs-1">
        <a href="{% url 'zipline_app:orders-delete' order.id %}">Delete</a>
      </div>
    </div>
{% empty %}
    <div class="alert alert-info">No orders yet.</div>
{% endfor %}

{% endblock %}
