{% extends "polls/base.html" %}
{% load humanize %}

{% block content %}
<table border=1>
<tr>
<td>
{% if latest_order_list %}
    Orders
    <ul>
    {% for order in latest_order_list %}
        <li>
            {{order.pub_date}}:
            {{order.asset.asset_symbol}},
            <font color="red">{{order.filled|intcomma}}</font>/{{order.amount|intcomma}},
            {{ order.order_text }},
            <font color="red">{{order.avgPrice|floatformat:"2"|intcomma}}</font>,
            <a href="{% url 'polls:detail' order.id %}">Details</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No orders are available.</p>
{% endif %}
</td>

<td>
{% if latest_fill_list %}
    Fills
    <ul>
    {% for fill in latest_fill_list %}
        <li>
          {% if fill.has_unused %}
            <font color="red">!!!</font>
          {% endif %}
          {{fill.pub_date}}:
          {{fill.asset.asset_symbol}},
          {{fill.fill_qty}},
          {{fill.fill_price}}
          ({{ fill.fill_text }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No fills are available.</p>
{% endif %}
</td>
</tr>
</table>

<br>
{% if zl_unused|length > 0 %}
  Assets with extra fills:
  <ul>
  {% for asset,qty in zl_unused %}
    <li>{{asset.symbol}}: {{qty}}</li>
  {% endfor %}
  </ul>
{% endif %}
<br>

<font color="gray">
<table border=1>
<caption>Matching engine</caption>
<tr>
<td>
{% if zl_open|length > 0 %}
    Open orders
    <ul>
    {% for order in zl_open %}
        <li>
            {{order.dt}}:
            {{order.sid.symbol}},
            filled {{order.filled}} / {{order.amount|intcomma}},
            {{order.id}}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No open orders are available.</p>
{% endif %}
</td>

<td>
{% if zl_txns|length > 0 %}
    Transactions
    <ul>
    {% for fill in zl_txns %}
        <li>
          {{fill.dt}}:
          {{fill.sid.symbol}},
          {{fill.amount|intcomma}},
          {{fill.price|intcomma}}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No closed orders are available.</p>
{% endif %}
</td>

<td>
{% if zl_closed|length > 0 %}
    Closed orders
    <ul>
    {% for fill in zl_closed %}
        <li>
          {{fill.dt}}:
          {{fill.sid.symbol}},
          {{fill.amount|intcomma}},
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No closed orders are available.</p>
{% endif %}
</td>
</tr>
</table>
</font>
{% endblock %}
