{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<table border=1>
<tr>
<td>
{% if latest_order_list %}
    Orders
    <ul>
    {% for order in latest_order_list %}
        <li>
            {{order.pub_date}}:
            {{order.order_sid}},
            <font color="red">{{order.filled}}</font>/{{order.amount}},
            {{ order.order_text }},
            <a href="{% url 'polls:detail' order.id %}">Details</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No orders are available.</p>
{% endif %}
</td>

<td>
{% if latest_fill_list %}
    Fills
    <ul>
    {% for fill in latest_fill_list %}
        <li>
          {{fill.pub_date}}:
          {{fill.fill_sid}},
          {{fill.fill_qty}},
          {{fill.fill_price}}
          ({{ fill.fill_text }})
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No fills are available.</p>
{% endif %}
</td>
</tr>
</table>

<br>

<table border=1>
<caption>Matching engine</caption>
<tr>
<td>
{% if zl_open|length > 0 %}
    Open orders
    <ul>
    {% for order in zl_open %}
        <li>
            {{order.dt}}:
            {{order.sid.symbol}},
            filled {{order.filled}} / {{order.amount}},
            {{order.id}}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No open orders are available.</p>
{% endif %}
</td>

<td>
{% if zl_txns|length > 0 %}
    Transactions
    <ul>
    {% for fill in zl_txns %}
        <li>
          {{fill.dt}}:
          {{fill.sid.symbol}},
          {{fill.amount}},
          {{fill.price|floatformat}}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No closed orders are available.</p>
{% endif %}
</td>

<td>
{% if zl_closed|length > 0 %}
    Closed orders
    <ul>
    {% for fill in zl_closed %}
        <li>
          {{fill.dt}}:
          {{fill.sid.symbol}},
          {{fill.amount}},
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No closed orders are available.</p>
{% endif %}
</td>
</tr>
</table>
