{% extends "zipline_app/base.html" %}
{% load humanize %}
{% load bootstrap3 %}

{% block content %}

Fill Details
<ul>
  <li>Date: {{fill.pub_date}}</li>
  <li>Asset: {{fill.asset.asset_symbol}}</li>
  <li>Side: {{fill.fill_side}}</li>
  <li>Qty: {{fill.fill_qty_unsigned|intcomma}}</li>
  <li>Price: {{fill.fill_price}}</li>
  <li>TT order key: {% if fill.tt_order_key %}{{fill.tt_order_key}}{% else %}None{% endif %}</li>
  <li>
    Dedicated to order:
    {% include 'zipline_app/fill/_fill_dedicated_to_order.html' %}
  </li>
  <li>Comment: {% if fill.fill_text %}{{ fill.fill_text }}{% else %}None{% endif %}</li>
</ul>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- delete with confirmation -->
<a href="{% url 'zipline_app:fills-delete' fill.id %}">Delete</a>

<!-- delete without confirmation
<form action="{% url 'zipline_app:fills-delete' fill.id %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_button content="Del" icon="minus" button_type="submit" %}
</form>
-->

<a href="{% url 'zipline_app:fills-update' fill.id %}">Edit</a>

{% endblock %}
