{% extends "zipline_app/base.html" %}
{% load humanize %}
{% load bootstrap3 %}

{% block content %}

{% include 'zipline_app/fill/_fill_detail.html' %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if request.user.is_authenticated and fill.user == request.user %}

<!-- delete with confirmation -->
<a href="{% url 'zipline_app:fills-delete' fill.id %}" class='btn btn-danger'>Delete</a>

<!-- delete without confirmation
<form action="{% url 'zipline_app:fills-delete' fill.id %}" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_button content="Del" icon="minus" button_type="submit" %}
</form>
-->

<a href="{% url 'zipline_app:fills-update' fill.id %}" class='btn btn-default'>Edit</a>

{% endif %}

{% endblock %}
