{% extends "zipline_app/base.html" %}
{% load bootstrap3 %}

{% block content %}
{{ form.media.css }}

<div class='row'>
<div class='col-md-6'>
<form action="" method="post" class="form" name="main-form">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  {% comment %}
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-2"><div class="row">{% bootstrap_field field=form.pub_date %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.asset %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.fill_side %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.fill_qty_unsigned placeholder="100" %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.fill_price placeholder="25" %}</div></div>
    <div class="col-xs-1"><div class="row">{% bootstrap_field field=form.tt_order_key placeholder="abcdef" %}</div></div>
    <div class="col-xs-3"><div class="row">{% bootstrap_field field=form.fill_text placeholder="some comment" %}</div></div>
  </div>
  {% endcomment %}
  {% if source %}<input type="hidden" name="source" value="{{source}}" />{% endif %}
    <div class="col-xs-1">{% bootstrap_button content="Save" icon="star" button_type="submit" button_class="btn-primary" %}</div>
</form>
</div>
</div>

<!-- disable the submit button when the form is submitted to avoid having the user clicking multiple times during page reload (and hence submitting duplicates) -->
<script type="text/javascript">
$(function() {
  $("form").submit(function(e) {
    $("form[name='main-form'] button[type='submit']").prop("disabled","disabled");
    $("form[name='main-form'] button[type='submit']").html("Saving fill...");
  });
});
</script>

{{ form.media.js }}
{% endblock %}
