{% extends "zipline_app/base.html" %}
{% load humanize %}

{% block content %}
{% include 'zipline_app/blotter/_create_modals_fill.html' %}
{% include 'zipline_app/blotter/_create_modals_js.html' %}

<div class='row'>
  <div class='col-md-3'>
    <h1>Fills</h1>
  </div>
  <div class='col-md-9 text-right'>
    <button data-toggle="modal" data-target="#fills-new" class='btn btn-primary'>
      Create
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>
</div>

    {% for fill in fill_list %}
    <div class="row">
      <div class="col-xs-1 text-right">
        <a href="{% url 'zipline_app:fills-detail' fill.id %}">#{{ fill.id }}</a>
      </div>
      <div class="col-xs-2">{{ fill.pub_date|date:"Y-m-d H:i:s" }}</div>
      <div class="col-xs-1"><a href="{% url 'zipline_app:assets-detail' fill.asset.id %}">{{ fill.asset.asset_symbol }}</a></div>
      <div class="col-xs-1">{{ fill.get_fill_side_display}}</div>
      <div class="col-xs-1 text-right">{{ fill.fill_qty_unsigned|intcomma}}</div>
      <div class="col-xs-1 text-right">{{ fill.fill_price }}</div>
      <div class="col-xs-1">{{ fill.tt_order_key}}</div>
      <div class="col-xs-1">
        {% include 'zipline_app/fill/_fill_dedicated_to_order.html' %}
      </div>
      <div class="col-xs-2">{{ fill.fill_text }}</div>
      <div class="col-xs-1">{{ fill.user.username }}</div>
    </div>
{% empty %}
    <div class="alert alert-warning">No fills yet.</div>
{% endfor %}

{% endblock %}
